body {
	font-family: "Liberation Sans",Arial,sans-serif;
	padding: 0px;
	padding-bottom: 40px;
	margin: 0px;
	height: 100%;
	background-color: black;
}

canvas {
	filter: grayscale(100%) contrast(125%) invert(100%);
}

div#centercol {
	width: 75%;
	margin: auto;
}

div#questiontext {
	font-size: 22pt;
	text-align: center;
	color: white;
	width: 95%;
	margin: 10px;
	margin-top: 1em;
	margin-bottom: .25em;
	border-style: solid;
	border-width: 5px;
	border-color: gray;
	background-color: black;
	border-radius: 15px;
	padding: 20px;
	padding-top: 40px;
	padding-bottom: 40px;
	white-space: pre-wrap;
}

canvas#questionimage {
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
}


ul#optionlist {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

li.quiz {
	font-size: 18pt;
	width: 95%;
	border-style: solid;
	border-width: 5px;
	border-color: gray;
	background-color: black;
	border-radius: 15px;
	padding: 20px;
	margin: 10px;
}

li.option {
	font-size: 18pt;
	position: relative;
	width: 95%;
	color: white;
	border-style: solid;
	border-width: 5px;
	border-color: gray;
	background-color: black;
	border-radius: 15px;
	padding: 20px;
	margin: 10px;
}

span.optioncount {
	position: absolute;
	font-size: 30px;
	top: 15px;
	right: 10px;
	margin-left: 20px;
}

li.selected {
	border-color:white;
	background-color:#333;
}

li.correct {
	border-color: rgb(0,200,0);
}

li.incorrect {
	color: rgb(150,150,150);
}

li.correct.selected {
	background-color: rgb(0,25,0);
}

li.incorrect.selected {
	background-color:rgb(50,0,0);
}

.pointer {
	cursor: pointer;
}

.crosshair {
	cursor: crosshair;
}

